* {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1440px;
  background-color: hsl(0, 0%, 95%);
}
p {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
button {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
}
.body {
  margin: 200px;
  display: inline-flex;
  flex-direction: row;
  border-radius: 15px;
  overflow: hidden;
}
.body h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
}

.frame {
  background-color: aqua;
}
.body p {
  color: hsla(0, 0%, 100%, 0.75);
}
#sedans {
  background-color: hsl(31, 77%, 52%);
}
#sedans button {
  color: hsl(31, 77%, 52%);
}
#suvs {
  background-color: hsl(184, 100%, 22%);
}
#suvs button {
  color: hsl(184, 100%, 22%);
}
#luxury {
  background-color: hsl(179, 100%, 13%);
}
#luxury button {
  color: hsl(179, 100%, 13%);
}
.cars * {
  margin: 40px;
}
.cars button {
  border: none;
  background-color: hsl(0, 0%, 95%);
  padding: 20px 50px;
  border-radius: 50px;
  margin: none;
}
@media screen and (max-width: 375px) {
  .body {
    flex-direction: column;
    width: 100%;
  }
}
